<app-intro></app-intro>
<div class="container"
  gdAreas="header header header header |  side  content1 content1 content2|footer footer footer footer" gdGap="5px"
  gdRows="auto auto auto" gdAreas.lt-sm="header | side | content1 | content2 | footer"
  gdRows.lt-sm="auto auto auto auto auto">

  <div id="header" gdArea="header">
    Header
  </div>
  <div class="contenido" gdArea="side">
    Side
  </div>
  <div class="contenido" gdArea="content1">
    Content
  </div>
  <div class="contenido" gdArea="content2">
    Content2
  </div>
  <div id="footer" gdArea="footer">
    Footer
  </div>
</div>

<hr>
<h2> FLEX-LAYOUT </h2>
<div class="bounds">

  <div class="content" fxLayoutGap="5px"  fxLayout="row nowrap" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="auto" class="sec1" fxFlex.xs="55">
      <h1 class="animated fadeIn delay-3s">Example fade</h1>

      first-section

    </div>
    <div fxFlex="20" class="sec2">
      second-section
    </div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
      third-section
    </div>

  </div>

</div>